@font-face {
    font-family: 'ir_sans';
    /* src: url(../assets/fonts/ir_sans.ttf) format('ttf'); */
    src: url(./ir_sans.ttf) format('ttf');
  }
  
  @font-face {
    font-family: 'Arshia';
    src: url(./Arshia/Arshia.ttf) format('ttf');
  }
  
  @font-face {
    font-family: 'Bnazanin';
    src: url(./B_NAZANIN/B-NAZANIN.TTF) format('ttf');
  }
  
  @font-face {
    font-family: 'Helal';
    src: url(./B-Helal/B-Helal.ttf) format('ttf');
  }
  
  @font-face {
    font-family: 'Abdoullah';
    src: url(./Far_Abdoullah/Far_Abdoullah.ttf) format('ttf');
  }
  
  @font-face {
    font-family: 'Nazanin';
    src: url(./Far_Nazanin/Far_Nazanin.ttf) format('ttf');
  }
  
  @font-face {
    font-family: 'tabssom';
    src: url(./Far_Tabssom/Far_Tabssom.ttf) format('ttf');
  }
  
  @font-face {
    font-family: 'gol';
    src: url(./gol/gol.ttf) format('ttf');
  }
  
  @font-face {
    font-family: 'Nastaliq';
    src: url(./IranNastaliq.ttf) format('ttf');
  }